<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed/atom-latest50.xml" title="Feline Bureau of Investigation log — latest 50 posts"/>
<link type="application/atom+xml" rel="alternate" href="{{ site.urli }}/feed/atom-all.xml" title="Feline Bureau of Investigation log — all posts"/>

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}
<style>
body { text-align: justify }
.embed-container {
    margin: auto;
    width: 48em;
}
.embed-container iframe {
    border: none;
    height: 27em;
    width: 100%;
}
.lyrics {
    text-align: left;
}
.small-notice {
    font-size: 75%;
    text-align: center;
}
figcaption {
    background-color: rgba(0, 0, 0, .666);
    font-size: 80%;
    font-style: italic;
    height: 3em;
    position: relative;
    text-align: left;
    top: -3em;
}

#main_content hr {
    border: 0;
    font-size: 2em;
    height: 1.5em;
    margin: auto;
    padding: 1em 0 1em 0;
    text-align: center;
}

#main_content hr:after {
    content: "⁂"
}
</style>
<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
